* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: auto;
  text-align: center;
}

h1 {
  font-family: Roboto;
  font-weight: 100;
  padding-top: 1rem;
  text-align: center;
}

#table-container {
  border-radius: 5px;
  border: 0.5px solid black;
  display: inline-block;
  font-family: Roboto;
  font-weight: 200;
  height: 600px;
  margin-top: 1rem;
  overflow-x: hidden;
  overflow-y: overlay;
  position: relative;
  width: 600px;
}

.fila {
  width: calc(100% - 2px);
}

.celda {
  border-bottom-color: solver;
  border-right: 1px dotted silver;
  border: 1px solid transparent;
  cursor: default;
  height: 18px;
  padding-bottom: 2px;
  padding-top: 2px;
  position: absolute;
  text-overflow: ellipsis;
  vertical-align: middle;
}
